body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: transparent;
    background-image: url("assets/Untitled design.jpg");
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: black;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #888;
  }
  
  .form-group input[type="text"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group button {
    width: 100%;
    padding: 10px;
    background-color: orangered;   
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-group a {
    color: #888;
    text-decoration: none;
  }
  
  .form-group a:hover {
    color: #4CAF50;
  }
  
  .password-toggle {
    position: relative;
    display: inline-block;
  }
  
  .password-toggle input[type="password"] {
    padding-right: 30px;
  }
  
  .password-toggle .toggle-icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .about-link {
    text-align: center;
    margin-top: 20px;
  }
  