body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orangered;
  color: #fff;
  padding: 20px;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

#products {
  flex: 1;
}

.product {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.product img {
  width: 100%;
  max-width: 100px;
  height: auto;
}

#cart {
  flex: 1;
  margin-left: 50px;
}

#cart-items {
  list-style: none;
  padding: 0;
}

#total {
  font-weight: bold;
}

#checkout {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: auto;
  display: none;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.search-container input[type="text"] {
  padding: 10px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.search-container button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: #fff;
  border: 1px solid #4CAF50;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #45a049;
}

.user-dropdown {
  position: relative;
  cursor: pointer;
}

.user-icon {
  width: 30px;
  height: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 30px;
  right: 0; 
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #333;
}

.dropdown-content a:hover {
  background-color: #070707;
}

.user-dropdown:hover .dropdown-content {
  display: block;
}

.search-suggestions {
  position: absolute;
  width: 300px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #f1eded;
  border: 1px solid #080808;
  border-radius: 5px;
  z-index: 1;
  text-decoration-color: #070707;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  color: #070707;
}

.suggestion-item:hover {
  background-color: #f1f1f1;
}
